body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
  }

.container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;          
    background-color: rgb(255, 255, 255);
  }
  
  .box {
    width: 1200px;
    height: 400px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }

  @media (max-width: 768px) and (max-width: 1439px) {
  .box {
    background-color: blue;
  }
}