body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

.id-card {
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-width: 1200px;
  height: 700px;
  margin: 50px auto;
  background: #000000;
  border-radius: 12px;
  overflow: hidden;
}

.id-info {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-content{
  margin-top: 0px;
  padding: 30px;
  line-height: 0.5;
  color: #ffffff;
}

.text-content b {
  font-size: 30px;
}

.text-content p {
  font-size: 30px;
}

.social-links {
  padding: 40px;
  display: flex;
  gap: 35px;
}

.social-links a img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-links a:hover img {
  transform: scale(1.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.id-image {
  flex: 1;
  background: #ddd;
}

.id-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


